PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/citifix
UPVOTE_THRESHOLD=20
TWITTER_API_KEY=your_api_key
TWITTER_API_SECRET=your_api_secret
TWITTER_ACCESS_TOKEN=your_access_token
TWITTER_ACCESS_SECRET=your_access_secret
